<app-home></app-home>
<app-dashboard></app-dashboard>
<app-resources></app-resources>
<app-contact></app-contact>
<div style="display:flex"gap:10;;width:100%;>
  <div style="width:20%"background-color:10;;width:100%;></div>
<div>
  <div>
     
    <app-home></app-home>


    </div>
  </div>

  <div>
    <div>
      <app-dashboard></app-dashboard>


    </div>
  </div>

  <div>
    <div>
      <app-resources></app-resources>


    </div>
  </div>

  <div>
    <div>

      <app-contact></app-contact>



    </div>
  </div>